.card {
  max-height: 25rem;
  width: 13rem;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #5d5656;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 5px 10px 0px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.poster img {
  max-width: 15rem;
  max-height: 20rem;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

.title_overview {
  color: #fff;
  margin: 0;
}

.overview_info {
  color: #fff;
  margin: 0.5rem 0;
}
